/* gets the actual input out of the way; 
we're going to style the label instead */ 

#drawer-toggle { 
position: absolute; 
opacity: 0; 
}

#drawer-toggle-overlay { 
-webkit-touch-callout: none; 
-webkit-user-select: none; 
-khtml-user-select: none; 
-moz-user-select: none; 
-ms-user-select: none; 
user-select: none;
display: block; 
position: fixed; 
background: rgba(255,255,255,.0); 
} 

/* drawer menu pane - note the 0px width */ 

#drawer { 
  position: fixed; 
  top: 0; 
  left: -280px; 
  height: 100%; 
  width: 280px; 
  transition: .30s ease-in-out; 
  background: var(--secondary); 
  overflow-x: hidden; 
  overflow-y: scroll; 
  padding: 8px; 
  z-index: 20;
  -webkit-overflow-scrolling: touch;
} 

#drawer-toggle:checked ~ #drawer-toggle-overlay { 
height: 100%;
width: calc(100% - 280px);
background: rgba(0,0,0,.4);
z-index: 20;
transition: .30s ease-in-out;
} 

#drawer-toggle:checked ~ #drawer-toggle-overlay, 
#drawer-toggle:checked ~ header { 
left: 280px; 
} 

#drawer-toggle:checked ~ #drawer { 
left: 0px; 
} 

#drawer-toggle:checked ~ #page-content { 
margin-left: 300px; 
}

#drawer ul a { 
display:flex; 
padding: 8px; 
color: var(--muted-foreground);
border-radius: var(--radius-medium);
} 

#drawer ul a:hover { 
color: inherit;
background: var(--secondary-alt);
transition: 0.3s;
}

@media all and (max-width:350px) { 

#drawer-toggle:checked ~ #drawer-toggle-overlay { 
height: 100%; 
width: 50px; 
} 

#drawer-toggle:checked ~ #drawer-toggle-overlay, 
#drawer-toggle:checked ~ header { 
left: calc(100% - 50px); 
} 

#drawer-toggle:checked ~ #drawer { 
width: calc(100% - 50px); 
padding: 8px; 
} 

#drawer-toggle:checked ~ #page-content { 
margin-left: calc(100% - 50px); 
} 

}