::-moz-selection {
  background: hsl(var(--primary-base), 49.8%, 30%);
  color: var(--foreground);
}

::selection {
  background: hsl(var(--primary-base), 49.8%, 30%);
  color: var(--foreground);
}

iframe, object, embed {
  border-radius: var(--radius-medium);
}

a {
  color: var(--primary);
}

header {
  padding: 10px 14px;
  border-bottom: 1px solid var(--border);
}

footer {
  padding: 10px 14px;
  background: var(--secondary);
}

nav {
  padding: 10px 14px;
}

main {
  padding: 14px;
}

hr {
	border: 0.5px solid var(--border);
}

mark {
  background: hsl(var(--primary-base), 49.8%, 30%);
  border-radius: 4px;
  padding: 2px 4px;
  color: inherit;
}

code {
	font-family: var(--ferid-font-monospace), "Consolas", monospace;
	background: var(--accent);
	padding: 2px 4px;
	border-radius: 5px;
	font-size: inherit;
}

kbd {
  font-family: var(--exryber-font-monospace), "Consolas", monospace;
  background-color: var(--secondary);
  border-radius: 3px;
  border: 1px solid var(--border);
  color: inherit;
  display: inline-block;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

/* Dummy (no function) class for alternative styling */
.alt {}

audio, video {
  vertical-align: middle;
  align-items: center;
	justify-content: center;
}