.navbar {
  z-index: 10;
  padding: 0px 8px;
  height: 56px;
  gap: 8px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background: var(--background);
  justify-content: space-between;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.navbar h3, h4, h5, h6 {
  margin-bottom: 0;
}