h1 {
	font-size: 32px;
	line-height: 1.125;
}

h2 {
	font-size: 28px;
	line-height: 1.15;
}

h3 {
	font-size: 24px;
	line-height: 1.175;
}

h4 {
	font-size: 20px;
	line-height: 1.2;
}

h5 {
	font-size: 18px;
	line-height: 1.225;
}

h6 {
	font-size: 16px;
	line-height: 1.25;
}

small {
	font-size: 14px;
}

.navbar h4 {
  margin-bottom: 0;
}

header > h1:not([id]):not([class]):not([style]),
header > h2:not([id]):not([class]):not([style]),
header > h3:not([id]):not([class]):not([style]),
header > h4:not([id]):not([class]):not([style]),
header > h5:not([id]):not([class]):not([style]),
header > h6:not([id]):not([class]):not([style]) {
  margin-bottom: 0;
}

header > h1:not([id]):not([class]):not([style]):not([style*=""]),
header > h2:not([id]):not([class]):not([style]):not([style*=""]),
header > h3:not([id]):not([class]):not([style]):not([style*=""]),
header > h4:not([id]):not([class]):not([style]):not([style*=""]),
header > h5:not([id]):not([class]):not([style]):not([style*=""]),
header > h6:not([id]):not([class]):not([style]):not([style*=""]) ~ * {
  margin-bottom: 0;
}

header > h1:last-child,
header > h2:last-child,
header > h3:last-child,
header > h4:last-child,
header > h5:last-child,
header > h6:last-child {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
}

hgroup h1 {
  line-height: 1.2;
  margin-bottom: 0;
}

hgroup h2 {
  line-height: 1.2;
  margin-bottom: 0;
}

hgroup h3 {
  line-height: 1.2;
  margin-bottom: 0;
}

hgroup h4 {
  line-height: 1.2;
  margin-bottom: 0;
}

hgroup h5 {
  line-height: 1.2;
  margin-bottom: 0;
}

hgroup h6 {
  line-height: 1.2;
  margin-bottom: 0;
}

hgroup p {
  color: var(--muted-foreground);
}