.outlined {
	background: transparent;
	border: 1px solid var(--border);
	color: inherit;
}

.outlined:focus {
  background: var(--selected)
}

.fill {
	border-color: transparent;
	background: var(--accent);
	color: inherit;
}

.primary {
	background: var(--primary);
	border-color: transparent;
}

.small {
  height: 30px;
  border-radius: 9999px;
  padding-left: 12px;
  padding-right: 12px;
}

.large {
  height: 48px;
  border-radius: 9999px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 15px;
}

.icon {
  height: 40px;
  width: 40px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  padding: 0;
  margin: 0;
}

.ghost {
  background: transparent;
}

.ghost:focus {
  background: var(--selected)
}

.full-width {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded {
  border-radius: var(--radius);
}

.rounded-large {
  border-radius: var(--radius-medium);
}

.shadow {
  box-shadow: 0 8px 30px rgb(0,0,0,0.12);
}

.icon svg {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

.icon i {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

button:not(.icon) svg,
button:not(.icon) i {
  height: 20px;
  width: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

button:not(.icon).large svg,
button:not(.icon).large i {
  height: 24px;
  width: 24px;
  margin-right: 8px;
  vertical-align: middle;
}

.mb-2 {
  margin-bottom: 8px;
}

.mt-2 {
  margin-bottom: 8px;
}

.ml-1 {
  margin-left: 4px;
}

.mr-1 {
  margin-right: 4px;
}